@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

	body {
		background: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg');
		background-size: cover;
		background-position: center	center;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		min-height: 100vh;
		font-family: 'Lato', sans-serif;
		margin: 0 0 50px;
	}

h2 {
  	text-shadow: 1px 1px 2px rgba(0,0,0,1);
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

.chat-container {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 25px;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
	overflow: hidden;
	padding: 15px;
	position: relative;
	width: 350px;
	max-width: 100%;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 50px;
	box-shadow: 0px 15px 5px 0px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 30px;
}

.left {
	padding: 15px 20px 15px 70px;
}

.right {
	align-self: flex-end;
	padding: 15px 70px 15px 20px;
}
.time{
    font-size: 0.7rem;
	position: absolute;
    left: 13%;
	bottom: 2%;
}
.author{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-content{
    width: 175px;
}

.logo {
	border-radius: inherit;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
    object-fit: cover;
    position: absolute;
    left: 13%;
    top: -10px;
    /* width: 50px; */
    color: black;
    /* height: 50px; */
    /* background: black; */
    padding: 8px 5px 0px 5px;
    font-size: 0.7rem;
}

.message.right .logo {
	left: auto;
	right: 13%;
}
.message.right .time {
	left: auto;
	right: 13%;
}

.message p {
	margin: 0;
}

.text_input {
	font-size: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 15px;
	width: 100%;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.send_button{
    width: 0rem;
    left: 300px;
    border: 0px;
    background: transparent;
}
.send_button:focus{
    outline: 0px;
}
.card{
    max-width: 27rem;
    background: transparent;
    color: white;
    border: 2px solid;
}
.join_button{
    background: transparent;
    color: white;
    border: 2px solid;
}

::-webkit-scrollbar {
	display: none;
}

.faltu{
	background: transparent;
    color: transparent;
    border: transparent;
}
.interest{
	background: transparent;
    color: white;
    border: 2px solid;
}